el-get
.loaddefs.el
.status.el
.status.el.old
color-theme-zenburn
dash
dired+
epl
ert-expectations
expand-region
f
flycheck
git-modes
git-timemachine
helm
highlight-parentheses
hungry-delete
key-chord
magit
multiple-cursors
org-mode
paredit
pkg-info
powerline
projectile
s
tff
undo-tree
yasnippet
company-mode
